body {font-family:Arial,Helvetica,sans-serif;}

.style4 {color:#364C87}

.styleBt {color:#364C87; font-size:11px;}

.fonte{ font-family:Arial,Helvetica,sans-serif; font-size:11px; color:#444}

.style1 {color: #FF0000;}

.style2 {font-size: 13px; font-weight: bold; color:#364C87;}

.style3 {font-size: 10px}

#VlrFinanc { display:none;}

#infBenfeitorias{display:none;}

a{text-decoration:none; color:#364C87;}

a:hover{color:#364C87; text-decoration:underline;}

input.text { 
	background:#FFFEF7; 
	border:1px solid #CCC;
	font-family:Arial,Helvetica,sans-serif; font-size:11px; color:#444
}

select{
	background:#FFFFF7; 
	border:1px solid #DDD;
}

#Orientacoes{ margin-bottom:10px;}

#pergunta{background:#FEF4A3; padding:1px; color:#3E5997; width:579px; }

#tudo{
	background:#FFFFFF;
	width:777px; height:100%;
	margin:0px auto;
	border-left:solid 1px #CCC;
	border-right:solid 1px #CCC;
	border-collapse:collapse;
	position:relative; padding:0px;
}

#topo{width:777px; float:left; margin:0px; margin-bottom:1px; padding:0px;}

#esquerda{width:175px; _width:151px; height:100%; float:left; margin:0px; text-align: left;}

#direita{width:134px; _width:123px; height:100%; float:left; margin:0px;}

#centro{width:466px; height:100%; float:left; margin:0px; margin-top:3px; background:#FFF;}

#centro a:hover{color:#364C87; text-decoration:underline;}

#margem{
	margin-left:20px; margin-top:1px; margin-bottom:0px;
	text-align: left; width:320px;
	background-image:url(imagens/imagem1.jpg);
	background-repeat:repeat-x;
}

#titulo{
	margin-top: 0px; margin-left:20px;
	margin-bottom:5px; *margin-bottom:10px;
	_margin-bottom:10px;
	text-align: left; font-weight: bold;
	color: #364C87;	font-size: 12px;
}

#topico{color: #364C87;}

#contextoPrincipal{
	width:450px; height:100%;
	float:left;	text-align:left;
	color:#333333;
	margin:10px; margin-top:0px;
	background:#F0F0F0;
	border:#CED3E3 1px dotted;
}

#noticia{
	width:450px; height:100%;
	float:left;	text-align:left;
	color:#333333;
	margin:10px; margin-top:15px;
	margin-bottom:20px;
	border:dotted #CED3E3 1px;
	border-top:0px;
}

#texto_noticia{
	margin:10px;
	margin-top:0px;
	font-size:12px;
}

#contextoIndex{
	width:422px; height:100%;
	float:left;	text-align:left; color:#333;
	margin-right:15px;
	margin-left:20px;
	font-size:12px;
}

#contextoIndex a{
	display:block;
	padding: 3px 0px 6px 17px;
	border: 1px;
	background-color: #FFFFFF;
	border-bottom-style:dotted;
	border-bottom-color:#999;
	color:#364C87;
	text-decoration:none;
}

#contextoIndex a:hover{border:1px; border-bottom-style:dotted; background:#FFFFFF; color:#364C87; text-decoration:underline;}

#rodape{
	height:25px; width:777px;
	margin:0px;	clear:both;
	position:relative;
	background-image:url(imagens/margem_inf2.jpg);
	background-repeat:repeat-x;
	border-bottom:solid 1px #CCC;
	border-top:solid 1px #CCC;
	border-collapse:collapse;
}

#menu1 {margin-top:0px; background:#9EB6D8; color:#364C87; width:100%;}

#menu1 ul {list-style-type:none; margin:0px; padding: 0; font-size:11px; width:100%;}

#menu1 li { margin-bottom:0px; display:inline; cursor:pointer;}

#menu1 a {
	display:block; border: 1px;
	padding: 7px 0px 4px 7px;
	background-color:#FFF;
	border-bottom-style:dotted;
	border-bottom-color:#C0C0C0;
	color:#364C87; text-decoration:none;
}

#menu1 a:hover {border:1px; border-bottom-style:dotted; background:#E1E1FF; color:#364C87;}

#menu2 {margin-top:0px; background:#ABBFDC; color:#364C87; width:100%;}

#menu2 ul {list-style-type:none; margin:0px; padding: 0; font-size:11px; width:100%;}

#menu2 li { margin-bottom:0px; display:inline; cursor:pointer;}

#menu2 a {
	display:block;
	padding: 7px 0px 4px 7px;
	border:1px;	background-color:#FFF;
	border-bottom-style:dotted;
	border-bottom-color:#C0C0C0;
	color:#364C87; text-decoration:none;
}

#menu2 a:hover {border:1px; border-bottom-style:dotted; background:#E4E4FF; color:#364C87;}

#menu3 {margin-top:0px; background:#BDCDE3; color:#364C87; width:100%;}

#menu3 ul {list-style-type:none; margin: 0px; padding:0; font-size:11px; width:100%;}

#menu3 li { margin-bottom:0px; display:inline; cursor:pointer;}

#menu3 a {
	display:block;
	padding: 7px 0px 4px 5px;
	border:1px; background-color:#FFF;
	border-bottom-style:dotted;
	border-bottom-color:#C0C0C0;
	color:#364C87; text-decoration:none;
}

#menu3 a:hover { border:1px; border-bottom-style:dotted; background:#E6E6FF; color:#364C87;}

#menu_link {
	margin-top:0px;	margin-right:1px;
	background:#9EB6D8;
	color:#364C87; width:100%;
	border:solid 1px #E0E0E0;
}

#menu_link ul{list-style-type:none; margin:3px; padding:0; font:13px "MS Sans Serif"; width:100%;}

#menu_link a {
	display:block;
	padding: 7px 0px 0px 0px;
	border: 1px;
	background-color:#FFFFFF;
	border-bottom:double 5px #F1F1F3;
	border-bottom-color:#DDDDDD;
}

#contextoPagamentoImpostos{
	width:585px; height:100%;
	float:left; font-size:12px;	
	margin-left:10px; margin-right:5px;
	text-align:center; color:#364C87;
}

#contextoPagamentoImpostos a:hover{text-decoration:underline; color:#364C87;}

#box1{
	width:151px; height:144px; float:left;
	margin:0px;	margin-left:12px; margin-top:20px;	_margin-left:10px; _margin-top:20px;
	background-image:url(imagens/box1.JPG);
	text-align:left; color:#364C87; 
	padding-top:14px; padding-bottom:0px;
	padding-right:15px; padding-left:15px;
}

#box2{
	width:181px; height:24px; float:left;
	margin:0px; margin-left:12px; _margin-left:10px;
	background-image:url(imagens/box2.JPG);
	padding-top:10px; margin-bottom:10px;
	font-size:11px; text-align:center;
}

#box2 a{text-decoration:none; color:#555;}
#box2 a:hover{text-decoration:underline; color:#555; cursor:pointer;}

#contextoOrientacoes{
	width:575px; height:100%;
	float:left; font-size:12px;
	margin-left:20px; margin-right:5px;
	text-align:left; color:#333;
}

#contextoDF{
	width:575px; height:100%;
	float:left;	font-size:14px;
	margin-left:0px; margin-right:5px;
	text-align:justify;	color:#364C87;
}

#contextoIPTU{
	width:575px; height:100%;
	float:left;	font-size:12px;
	margin-left:20px; margin-top:0px;
}

#tabela{
	background:#CCCCCC;
	float:left;
	margin-bottom:15px;
}
#tabelaSocio{
	background:#CCCCCC;
	float:left;
}
#tabelaAtSec{
	background:#CCCCCC;
	float:left;
}
#tituloTabela{
	background:#CCCCCC;
	float:left;
}
.mais {background:#364C87; margin:0px; margin-right:2px; font:lighter; padding-right:0px; padding-left:2px;  padding-bottom:1px; padding-top:0px; font-size:13px; color:#FFFFFF; float:right; position:inherit }
.menos {background:#364C87; margin:0px; margin-right:2px;  padding:3px; padding-bottom:1px; padding-top:0px; font:lighter; font-size:13px; color:#FFFFFF; float:right; position:inherit }
