
.idea/
.idea/*
.vscode/
.vscode/*
.settings/
.settings/*
.project
.classpath
.factorypath
src/com/tivic/manager/conf/manager.conf
resources/manager.conf
edf.xml
Deploy/
Deploy/*
dist/
manager.conf
.tool-versions