/* CSS Document */
.body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.toolButton{
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding:0px;
	height:22px;
	width:22px;
	border:1px solid #999999;
	margin:0px;
	margin-left:1px;
	background-color:#E5E5E5;
	line-height:10px;
}

.d1-form {
	background-color:#F4F4F4;
	margin:0px;
	padding:5px;
}

.d1-form .d1-toolButtons {
	margin:0px;
	text-align:right;
}
.d1-form .d1-toolButtons .toolButton{
	height:22px;
	width:22px;
	border:1px solid #999999;
	margin:0px;
	margin-left:1px;
	background-color:#E5E5E5;
	line-height:10px;
}
.d1-form .d1-toolButtons .toolButton img{
	margin:0px;
	padding:0px;
	border:0 solid;
}


.d1-form .d1-body{
	margin:0px;
	padding:0px;
}
.d1-form .d1-body .d1-line{
	margin:0px;
	padding:0px;
	height:15px;
	display:block;
	*display:inline;
	_display:block;
}
.d1-form .d1-body .d1-text{
	margin:0px;
	padding:0px;
	height:15px;
	
	overflow:hidden;
	
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	
	display:block;
}

.d1-form .d1-body .element {
	float:left;
	margin:0;
	padding:0;
	border:0px;
	position:relative;
	display:inline;
}

.d1-form .d1-body .element .caption {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	margin:0px;
	padding:0px;
	border:0px;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	_line-height:11px;
	height:13px;
	*height:13px;
	_height:11px;
	display:block;
	*margin-top:-2px;
	_margin-top:0px;
	_padding-top:0px;
}
.d1-form .d1-body .element .caption2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	margin:0px;
	padding:0px;
	border:0px;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	_line-height:11px;
	_height:11px;
	display:block;
	float:left;
}

.d1-form .d1-body .element .field {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:15px;
	text-indent:2px;
	*text-indent:0;
	_text-indent:0;
	height:15px;
	color:#000000;
	border:1px solid #333333;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .field2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:20px;
	text-indent:2px;
	*text-indent:0;
	_text-indent:0;
	height:20px;
	color:#000000;
	border:1px solid #333333;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .frame {
	color:#000000;
	border:1px solid #333333;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .disabledField {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:15px;
	text-indent:2px;
	*text-indent:0;
	_text-indent:0;
	color:#666666;
	border:1px solid #333333;
	background-color:#E4E4E4;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .disabledField2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
	height:20px;
	text-indent:2px;
	*text-indent:0;
	_text-indent:0;
	color:#444444;
	border:1px solid #222222;
	background-color:#E4E4E4;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .wrongField {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:15px;
	text-indent:2px;
	*text-indent:0;
	_text-indent:0;
	color:#000000;
	border:1px solid #333333;
	background-color:#FFCC66;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .select {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:15px;
	height:15px;
	margin:0px;
	padding:0px;
	
	*height:19px;
	_height:15px;
	
	*margin-top:1px;
	_margin-top:0px;
	
	color:#000000;
	border:1px solid #333333;

}

.d1-form .d1-body .element .select2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	height:22px;
	margin:0px;
	padding:0px;
	
	*height:24px;
	_height:20px;
	
	*margin-top:1px;
	_margin-top:0px;
	
	color:#000000;
	border:1px solid #333333;

}

.d1-form .d1-body .element .select, x:default {
	height:17px;
}

.d1-form .d1-body .element .disabledSelect {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:15px;
	height:15px;
	margin:0px;
	padding:0px;
	
	*height:19px;
	_height:15px;
	
	*margin-top:1px;
	_margin-top:0px;
	
	color:#666666;
	border:1px solid #333333;
	background-color:#E4E4E4;

}

.d1-form .d1-body .element .disabledSelect2 {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:22px;
	height:22px;
	margin:0px;
	padding:0px;
	
	*height:24px;
	_height:20px;
	
	*margin-top:1px;
	_margin-top:0px;
	
	color:#444444;
	border:1px solid #333333;
	background-color:#E4E4E4;

}

.d1-form .d1-body .element .disabledSelect, x:default {
	height:17px;
}

.d1-form .d1-body .element .wrongSelect {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:15px;
	margin:0px;
	padding:0px;
	
	*height:19px;
	_height:15px;
	
	*margin-top:1px;
	_margin-top:0px;
	
	color:#000000;
	border:1px solid #333333;
	background-color:#FFCC66;
}


.validationErrorMessage {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:bolder;
	filter: alpha(opacity=15); 
	opacity: 0.15;
	background-color:#FFCC66;
	height:11px;
	line-height:11px;
	background-image:url(/sol/imagens/important11.gif);
	background-repeat:no-repeat;
	background-position:left center;
	text-indent:12px;
	color:#666666;
	margin:0px;
	padding:0px;
	position: absolute;
	z-index: 0;
}

.d1-form .d1-body .element .textarea {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	border:1px solid #333333;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .disabledTextarea {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	border:1px solid #333333;
	background-color:#E4E4E4;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .wrongTextarea {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	border:1px solid #333333;
	background-color:#FFCC66;
	margin:0px;
	padding:0px;
}

.d1-form .d1-body .element .controlButton{
	height:17px;
	width:17px;
	border:1px solid #000000;
	background-color:#F5F5F5;
	position:absolute;
	right:1px;
	bottom:0px;
	*bottom:1px;
	_bottom:0px;
	margin:0px;
	padding:0px;
	line-height:5px;
	font-size:10px;
}
.d1-form .d1-body .element .controlButton2{
	right:17px;
	_right:16px;
	padding:0px;
}

.d1-form .d1-body .element .controlButton3{
	right:33px;
	_right:32px;
	padding:0px;
}

/*.d1-form .d1-body .element .controlButton4{
	height:17px;
	width:17px;
	border:1px solid #000000;
	background-color:#F5F5F5;
	position:absolute;
	right:1px;
	_top:2px;
	bottom:0px;
	margin:0px;
	padding:0px;
	line-height:5px;
}
.d1-form .d1-body .element .controlButton3 .img{
	padding:0px;
	margin:0 0 0 -2px;
	_margin:0 0 0 0;
	float:left;
	border:0 solid;
	overflow:visible;
}
*/
.d1-form .d1-body .element .controlButton img{
	position:absolute;
	padding:0px;
	margin:-7px 0 0 -6px;
	*margin:0px 0 0 -6px;
	_margin-top:0px;
	border:0 solid;
}

.groupbox	{
	position:relative;
	border:1px solid #999; 
	float:left; 
	padding:4px; 
	margin:6px 2px 0px 0px; 
	display:inline;
}

.groupbox .panel{
	overflow:auto;
}

.captionGroup	{
	position:absolute; 
	top:-7px; 
	background-color:#F4F4F4; 
	left:5px; 
	font-size:11px; 
	font-family:Geneva, Arial, Helvetica, sans-serif; 
	padding:0 2px 0 2px;
	font-weight:bold;
}

.sol-creditos {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:9px;
	line-height:16px;
	text-align:right;
	color:#999; 
	position:absolute; 
	bottom:0px; 
	right:10px;
	cursor:pointer;
	filter: alpha(opacity=70); 
	opacity: 0.70;
	padding:1px 1px 0 1px;
	background-image:url(/sol/imagens/sol16.gif);
	background-position: 48px center;
	background-repeat:no-repeat;
}

.sol-creditos img{
	margin:0 0 -2px 0;
}