<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<listener>
		<listener-class>com.tivic.manager.util.ContextManager</listener-class>
	</listener>
	<listener>
		<listener-class>com.tivic.manager.util.SessionManager</listener-class>
	</listener>
	<listener>
		<listener-class>flex.messaging.HttpFlexSession</listener-class>
	</listener>
	<listener>
		<listener-class>sol.util.SessionCounter</listener-class>
	</listener>

	<!-- <filter> -->
	<!-- <filter-name>CorsFilter</filter-name> -->
	<!-- <filter-class>org.apache.catalina.filters.CorsFilter</filter-class> -->
	<!-- <init-param> -->
	<!-- <param-name>cors.allowed.origins</param-name> -->
	<!-- <param-value>*</param-value> -->
	<!-- </init-param> -->
	<!-- <init-param> -->
	<!-- <param-name>cors.allowed.methods</param-name> -->
	<!-- <param-value>GET, POST, PUT, DELETE</param-value> -->
	<!-- </init-param> -->
	<!-- <init-param> -->
	<!-- <param-name>cors.allowed.headers</param-name> -->
	<!-- <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value> -->
	<!-- </init-param> -->
	<!-- <init-param> -->
	<!-- <param-name>cors.exposed.headers</param-name> -->
	<!-- <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value> -->
	<!-- </init-param> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>CorsFilter</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </filter-mapping> -->
	
	<servlet>
		<servlet-name>ParametrosServlet</servlet-name>
		<servlet-class>com.tivic.manager.sis.ParametrosServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ParametrosServlet</servlet-name>
		<url-pattern>/initconf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
		<init-param>
			<param-name>services.configuration.file</param-name>
			<param-value>/WEB-INF/flex/services-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageBrokerServlet</servlet-name>
		<url-pattern>/messagebroker/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.tivic.manager.print.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Xml4SwfServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.Xml4SwfServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Xml4SwfServlet</servlet-name>
		<url-pattern>/xml4swf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcessoArquivoServlet</servlet-name>
		<servlet-class>com.tivic.manager.prc.ProcessoArquivoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessoArquivoServlet</servlet-name>
		<url-pattern>/downloadpa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProcessoArquivoUploadServlet</servlet-name>
		<servlet-class>com.tivic.manager.prc.ProcessoArquivoUploadServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProcessoArquivoUploadServlet</servlet-name>
		<url-pattern>/uploadpa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModeloDocumentoServlet</servlet-name>
		<servlet-class>com.tivic.manager.grl.ModeloDocumentoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeloDocumentoServlet</servlet-name>
		<url-pattern>/mdoc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GedServlet</servlet-name>
		<servlet-class>com.tivic.manager.grl.GedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GedServlet</servlet-name>
		<url-pattern>/ged</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeoTrackerServlet</servlet-name>
		<servlet-class>com.tivic.manager.str.GeoTrackerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeoTrackerServlet</servlet-name>
		<url-pattern>/geotracker</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeoTrackerServlet</servlet-name>
		<servlet-class>com.tivic.manager.mob.GeoTrackerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeoTrackerServlet</servlet-name>
		<url-pattern>/geotrackerMobilidade</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DetranServlet</servlet-name>
		<servlet-class>com.tivic.manager.mob.servlets.DetranServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetranServlet</servlet-name>
		<url-pattern>/detran</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DetranConsultaServlet</servlet-name>
		<servlet-class>com.tivic.manager.mob.servlets.DetranConsultaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetranConsultaServlet</servlet-name>
		<url-pattern>/detrancon</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ALPRServlet</servlet-name>
		<servlet-class>com.tivic.manager.str.ALPRServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ALPRServlet</servlet-name>
		<url-pattern>/alpr</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SINESPServlet</servlet-name>
		<servlet-class>com.tivic.manager.str.SINESPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SINESPServlet</servlet-name>
		<url-pattern>/sinesp</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ProconServlet</servlet-name>
		<servlet-class>com.tivic.manager.ptc.ProconServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProconServlet</servlet-name>
		<url-pattern>/proconvc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DneServlet</servlet-name>
		<servlet-class>com.tivic.manager.util.DneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DneServlet</servlet-name>
		<url-pattern>/cep</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JornadaServlet</servlet-name>
		<servlet-class>com.tivic.manager.acd.JornadaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JornadaServlet</servlet-name>
		<url-pattern>/request/jornada/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JornadaParticipanteServlet</servlet-name>
		<jsp-file>/jornada/participante.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>JornadaParticipanteServlet</servlet-name>
		<url-pattern>/jornada/participante/</url-pattern>
		<url-pattern>/jornada/participante</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SelecaoServlet</servlet-name>
		<servlet-class>com.tivic.manager.evt.SelecaoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelecaoServlet</servlet-name>
		<url-pattern>/request/selecao/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuarkServlet</servlet-name>
		<servlet-class>com.tivic.manager.quark.QuarkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuarkServlet</servlet-name>
		<url-pattern>/quark</url-pattern>
		<url-pattern>/quark/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AitServlet</servlet-name>
		<servlet-class>com.tivic.manager.str.AitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AitServlet</servlet-name>
		<url-pattern>/ait</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RadarRequestServlet</servlet-name>
		<servlet-class>com.tivic.manager.mob.radar.RadarRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RadarRequestServlet</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>
	
	<!-- API CONFIG -->
	<servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
            	io.swagger.jaxrs.listing,
            	com.tivic.manager
           	</param-value>
        </init-param>
        <init-param>
		    <param-name>jersey.config.server.provider.classnames</param-name>
		    <param-value>
			    org.glassfish.jersey.media.multipart.MultiPartFeature,
			    org.glassfish.jersey.jackson.JacksonFeature,
			    com.tivic.sol.auth.jwt.JWTMiddleware,
			    com.tivic.sol.auth.CORSFilter,
			    com.tivic.sol.auth.jwt.JWTAnnotationBinding,
			    io.swagger.jaxrs.listing.ApiListingResource,
                io.swagger.jaxrs.listing.SwaggerSerializers
		    </param-value>
		</init-param>
    	<load-on-startup>1</load-on-startup>
    </servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rws/*</url-pattern>
		<url-pattern>/api/*</url-pattern>
<!--  		<url-pattern>/*</url-pattern> -->
	</servlet-mapping>
	
	<servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>v2</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/etransito/api</param-value>
<!--             <param-value>http://192.168.1.60:8080/mob/api</param-value> -->
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
	
	<servlet>
		<servlet-name>barcode</servlet-name>
		<servlet-class>com.tivic.manager.util.BarcodeGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>barcode</servlet-name>
		<url-pattern>/barcode</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>methodcaller</servlet-name>
		<servlet-class>sol.util.MethodCaller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>methodcaller</servlet-name>
		<url-pattern>/methodcaller</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadStatus</servlet-name>
		<servlet-class>sol.util.AjaxUploadStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadStatus</servlet-name>
		<url-pattern>/UploadStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>libpath</servlet-name>
		<servlet-class>sol.util.LibraryPath</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>libpath</servlet-name>
		<url-pattern>/libpath</url-pattern>
	</servlet-mapping>
	
</web-app>