@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
}

#topo{
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	border: 1px solid #66add6;
	height: 30px;
}

#subTopo{
	background-color: #C0C0C0; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f5f5), to(#dcdddd));
	background-image: -moz-linear-gradient(top left 90deg, #6f6f5f5 0%, #dcdddd 100%);
	background-image: linear-gradient(top left 90deg, #f6f5f5 0%, #dcdddd 100%);
	border: 1px solid #dedede;
	height: 30px;
}

#topo p{
	color: #fff;
	margin-left: 3px;
	margin-top: 8px;
}

#topo .logotipo {
	float: left;
	margin-left: 3px;
}

#topo .boxUser{
	float: left;
	margin-top: 8px;
	margin-left: 15px;
	color: #fff;
	font-size: 12px;
	font-family: tahoma;
}

#topo .infoUser{
	float: left;
	color: #fff;
	font-size: 12px;
	font-family: tahoma;
}

#topo .actionUser{
	margin-left: 4px;	
	float: left;
	text-align: center;
	border-radius: 10px;
}
#topo .actionUser:HOVER{
	background: #fff;
}

#UserPanel{
	background: #fff;
	height: 50px;
	color: #000;
	width: 150px;
	border: 1px solid #ccc;
	position: absolute;
	top: 32px;
	left: 110px;
	display: none;
}


#content {
	font-family: tahoma;
	width: 100%;
	margin-top: 60px;
}