.modulo{
	background-color:#FFFFFF;
	width:138px;
	cursor:pointer;
	padding:4px;
	margin:0 0 0 2px;
	display:block;
	float:left;
	text-decoration:none;
	-moz-outline:0 solid;
}
.modulo:hover{
	background-color:#FFFFCC;
}
.modulo .head img{
	float:left;
	width:25px;
	border:0 solid;
}

.modulo .head .tit {
	font-size: 9px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9900;
	height:25px;
	line-height:25px;
	text-indent:5px;
}

.moduloFrame {
	border:0 solid;
	margin:4px 0 0 0;
	width:820px;
	height:519px;
	overflow:hidden;
}

.port {
	border:1px solid #CCCCCC;
	margin:9px 0 0px 8px;
	background-color:#E8E8E8;
	position:relative;
}