.weather h1, .weather .weather_temp {
	font-family: 'Segoe UI Light_', 'Open Sans Light' !important;
	font-size: 70px;
}

.weather h3 {
	font-family: 'Segoe UI Light_', 'Open Sans Light' !important;
	font-size: 22px;
	font-weight: normal;
}

.weather p {
	font-family: tahoma;
	font-size: 12px !important;
}