
html {
  position: relative;
  min-height: 100%;
}
body {
	padding: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.header-line {    
    background: url(../images/background.jpg) center #4769ed;
    background-size: cover;
    height: 20px;
}
.header {
    padding: 10px;
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}
.header>.container>.navbar {
    margin: 0;
}
.header>.container>.navbar>.collapse>ul li a {
    font-size: 13px;
    color: #0083C4;
    font-weight: 400;
}
.content {
    background: url(../images/background.jpg) center #4769ed;
    background-size: cover;
    background-repeat: repeat repeat;
    background-size: 171px 121.5px height: auto;
    display: block;
}
.content>.notice>span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}
.register>.form {
    margin: 15px;
    display: block;
    height: 100%;
    color: #3b67a9;
}
.register>.form label.error {
    color: #FF0000 !important;
}
.register .form-title {
    font-size: 40px;
    color: #3b67a9;
}
.register .form-title p {
    padding: 10px 0;
    font-size: 25px;
}
.register .input-label {
    font-size: 14px;
}
.register > .form h3 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 200;
}
.content .register {
    font-family: "Open Sans", sans-serif;
    color: #fff !important;
    font-weight: 200;
}
.container .register>.form h3 {
    font-family: "Open Sans", sans-serif;
    color: #444;
    font-weight: 200;
}
.content .register>.form h3>small {
    color: #DDD;
}
.container .register>.form h3>small {
    color: #CCC;
}
.register>.form form .input-lg,
.register>.form form .btn-lg {
    border-radius: 0;
}
.container .register>.form form .sexo {
    color: #333;
}
.register>.form form .sexo>label {
    margin-right: 30px;
    font-weight: normal;
    color: #3b67a9;
    font-size: 14px;
}
.content .register .checkbox {
    color: #3b67a9;
    font-weight: 300;
    font-size: 15px;
}
.container .register .checkbox {
    color: #333;
    font-weight: 300;
}
.container .title h2 {
    margin: 45px 0 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #3B67A9;
}
.container .title h2 small {
    text-transform: none;
    color: #0083C4;
}
.main-overlay-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background: url("../images/overlay-2.png");
    opacity: 0;
}
@media screen and (min-width: 768px) {
    .content>.notice>h1 {
        font-size: 60px;
        padding: 150px 50px 20px;
    }
    .register>.form {
        margin: 50px;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header-line {    
	    background: url(../images/background.jpg) 0px 0px #4769ed;
	    background-size: cover;
	    height: 20px;
	}
	.content {
	    background: url(../images/background.jpg) 0 0 #4769ed;
	    background-size: cover;
	    background-repeat: repeat repeat;
	    background-size: 171px 121.5px height: auto;
	    display: block;
	}
}
.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}
@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}
::-webkit-input-placeholder {
    color: black;
}
:-moz-placeholder {
    color: black;
}
::-moz-placeholder {
    color: black;
}
:-ms-input-placeholder {
    color: black;
}
.scaling {
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes scalex {
    from {
        -webkit-transform: scale(0.9);
    }
    65% {
        -webkit-transform: scale(1.0);
    }
    to {
        -webkit-transform: scale(0.9);
    }
}
@-moz-keyframes scale {
    from {
        -moz-transform: scale(0.9);
    }
    65% {
        -moz-transform: scale(1.0);
    }
    to {
        -moz-transform: scale(0.9);
    }
}
.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
    display: table;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.alert-white {
    background-image: linear-gradient(to bottom, #fff, #f9f9f9);
    border-top-color: #d8d8d8;
    border-bottom-color: #bdbdbd;
    border-left-color: #cacaca;
    border-right-color: #cacaca;
    color: #404040;
    padding-left: 61px;
    position: relative;
}
.alert-white.rounded {
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.alert-white.rounded .icon {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}
.alert-white .icon {
    text-align: center;
    width: 45px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    padding-top: 15px;
}
.alert-white .icon:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #bdbdbd;
    position: absolute;
    border-left: 0;
    border-bottom: 0;
    top: 50%;
    right: -6px;
    margin-top: -3px;
    background: #fff;
}
.alert-white .icon i {
    font-size: 20px;
    color: #fff;
    left: 12px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}
/*============ colors ========*/

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-white.alert-success .icon,
.alert-white.alert-success .icon:after {
    border-color: #54a754;
    background: #60c060;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #98cce6;
    color: #3a87ad;
}
.alert-white.alert-info .icon,
.alert-white.alert-info .icon:after {
    border-color: #3a8ace;
    background: #4d90fd;
}
.alert-white.alert-warning .icon,
.alert-white.alert-warning .icon:after {
    border-color: #d68000;
    background: #fc9700;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #f1daab;
    color: #c09853;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #e0b1b8;
    color: #b94a48;
}
.alert-white.alert-danger .icon,
.alert-white.alert-danger .icon:after {
    border-color: #ca452e;
    background: #da4932;
}
.register .form-input h3 {
    color: #888 !important;
    font-weight: normal;
    font-size: 16px;
}
.title-page {
    color: #3B67A9;
    padding: 5px;
    border-bottom: 2px solid #3B67A9;
    text-transform: uppercase;
    font-weight: bold;
}
.register legend {
    color: #3B67A9;
    padding: 5px;
    border-bottom: 2px solid #3B67A9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.register legend>small {
    text-transform: none;
    font-weight: normal !important;
}
.register .radio {
    margin-left: 30px;
}
.register .radio>label {
    font-size: 11px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  width: 100%;
  padding: 30px !important;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}
