/*************************************************************
 *  CSS Padrao para projeto SICOE
 *************************************************************/
/* cores do sistema */
.celulaDiaForaIntervalo {
	color: #636563;
	font-weight: bold;
	background-color: #E6E6E6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.celulaDiaDentroIntervalo {
	background-color:#F3F3F3;
	font-weight: bold;
	color: #636563;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.bodyDivCalendario{
	scrollbar-face-color: #FFFFCC; 
	scrollbar-shadow-color: #E8CC8C; 
	scrollbar-highlight-color: #FFFFCC; 
	scrollbar-3dlight-color: #E8CC8C; 
	scrollbar-darkshadow-color: #FFFFCC; 
	scrollbar-track-color: #FFFFCC; 
	scrollbar-arrow-color: #E8CC8C;
}

.bodyDivCalendarioOutIntervalo{
	scrollbar-face-color: #FFFFCC; 
	scrollbar-shadow-color: #E8CC8C; 
	scrollbar-highlight-color: #FFFFCC; 
	scrollbar-3dlight-color: #E8CC8C; 
	scrollbar-darkshadow-color: #FFFFCC; 
	scrollbar-track-color: #F8EFAF; 
	scrollbar-arrow-color: #E8CC8C;
}

.celulaTituloCalendario {font-size: 10px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}

.rotuloMesEmDestaque {
	color: #333333;
	font-weight: bold;
	font-size:12px;
}
.celulaNavigatorLeft {
	cursor: pointer;
}

.celulaNavigatorRight {
	cursor: pointer;
}

.agendamentosHoje{
	background-position:right; 
	background-repeat:no-repeat; 
	background-image:url(./imagens/fundoCompromissos.jpg); 
	padding:3px; 
	padding-top:8px; 
	border:1px solid #CCCCCC;
}
.tarefasHoje{
	background-position:right; 
	background-repeat:no-repeat; 
	background-image:url(./imagens/fundoTarefas.jpg); 
	padding:3px; 
	padding-top:8px; 
	border:1px solid #CCCCCC;
}
.tarefasDelegadasHoje{
	background-position:right; 
	background-repeat:no-repeat; 
	background-image:url(./imagens/fundoTarefasDelegadas.jpg); 
	padding:3px; 
	padding-top:8px; 
	border:1px solid #CCCCCC;
}
.horario {
	font-size: 9px;
	font-weight:bold;
	color:#CE0000;
	background-color:#FFE1E1;
	border-bottom:1px solid #CE0000;
	padding:3px;
}