/*************************************************************
 *  CSS Padrao para o grid
 *************************************************************/
/* cores do sistema */
.grid{
	table-layout:auto;
	cursor:default;
	width:100%;
}

.cell {
	overflow-y:hidden;
	white-space:nowrap;
	height:18px;
	-moz-user-select:none;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
}
.header {
	overflow-x:hidden;
	background-color:#CCCCCC;
	cursor:default;
	border:1px outset #FFFFFF;
	margin-left:1px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:20px;
	vertical-align:bottom;
}

.gridLine{
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	height:16px;
	white-space:nowrap;
}
.gridLineSelected{
	background-color:#000066;
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	height:16px;
}
	
	.columnLabel { 	
		font-size: 10px; 	
		font-family: Verdana, Arial, Helvetica, sans-serif; 	
		background-color:#E4E4E4;	
		color:#000000;	
		border:1px outset #FFFFFF;	
		cursor:default;
	}
	.selector { 	
		font-size: 8px; 	
		font-family: Verdana, Arial, Helvetica, sans-serif; 	
		background-color:#E4E4E4;	
		color:#8A8A8A;	
		text-align:center;	
		border:1px outset #FFFFFF;	
		cursor:default;	
		width:10px;
	}
	.columnLabelCenter { 	
		font-size: 10px; 	
		font-family: Verdana, Arial, Helvetica, sans-serif; 	
		text-align:center;	
		background-color:#E4E4E4;	
		color:#000000;	
		border:1px outset #FFFFFF;	
		cursor:default;
	}
	.cellContent { 	
		font-size: 10px; 	
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		background-color:#FFFFFF;	
		cursor:default;
	}
	div.scroll {		
		overflow:auto;	
		border: 1px solid #B9B9B9;	
		scrollbar-face-color: #FFFFFF; 
		scrollbar-shadow-color: #CCCCCC; 
		scrollbar-highlight-color: #FFFFFF; 
		scrollbar-3dlight-color: #CCCCCC; 
		scrollbar-darkshadow-color: #FFFFFF; 
		scrollbar-track-color: #F6F6F6; 
		scrollbar-arrow-color: #CCCCCC;	
	}
	.lineClick { 	
		font-size: 10px; 	
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		background-color:#003366;	
		color:#FFFFFF;	
		cursor:default;
	}	
	.lineMouseOver { 	
		font-size: 10px; 	
		font-family: Verdana, Arial, Helvetica, sans-serif;	
		background-color:#DB214C;	
		color:#FFFFFF;	
		cursor:default;}
	.background {	
		background-color:#FFFFFF;
	}
	.noScroll {	
		position: relative;	
		top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);	
		left: expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);		
		z-index: 101;		
	}
	.noScrollTop {	
		position: relative;	
		top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);	
		z-index: 100;}
	.noScrollLeft {	
		position: relative;	
		left: expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);	
		z-index: 100;
	}
