/*************************************************************
 *  CSS Padrao para projeto SICOE
 *************************************************************/
/* cores do sistema */
.panelTitulo { 
	font-size:9px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
	background-color: #E9E9E9; 
	border:1px outset #FFFFFF;
	cursor:default;	
}

.systemColor1{
	background-color:#CE0000;/*#993300*/;
}
.systemColor2{
	background-color:#F7F7F7;
}

.systemColor3{
	background-color:#CCCCCC;
}

/* janela */
.drag{
	position:relative;
	cursor:default;
}

.janela{
}

.janela .titulo{
	padding-left:4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
}

.janela .botaoBarra{
	margin-right:1px;
}

/* botoes */
.botao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height:18px;
	background-color:#D2D2D2;
	border:1px solid #333333;
}

/* campos edits */
.edit {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	border: 1px solid #999999;
}

.edit100 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	border: 1px solid #999999;
	width:100%;	
}

.editNoBorder {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	height: 15px;
	border:1px solid #FFFFFF;
}
.editNoUppperCase {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #999999;
}
.edit100NoUpperCase {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #999999;
	width:100%;
}

/* rotulos */
.rotulo {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
}
/* Grid */
.rotuloGrid { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	width:auto;
	background-color:#E9E9E9;
	border:1px outset #FFFFFF;
	cursor:default;
	}
	
.rotuloGrid100 { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	width:100%;
	background-color:#E9E9E9;
	border:1px outset #FFFFFF;
	cursor:default;
	}
	
.rotuloGridDivisor { 
	width: 1px;
	background-color:#000000;
	}
.celulaGrid { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF
	color:#003399;
	cursor:default;
	}
.celulaGridMouseOver { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#DB214C;
	color:#FFFFFF;
	cursor:pointer;
}
.celulaGridMultipleSelect { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#E4E4E4;
	color:#000000;
	cursor:pointer;
}
.celulaGridSelecionada { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#003399;
	color:#FFFFFF;
	cursor:default;
	}
.celulaGridDivisor { 
	width: 1px;
	background-color:#CCCCCC;
	}
.linhaGridClick { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#003366;
	color:#FFFFFF;
	border:1px solid #000000;
	cursor:pointer;
	}

.gridSelect {
	background-color: #E3E9F1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor:default;
}

		
/* body do form (espaamento)*/
.bodyForm {
	margin-left: 2px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.bodyMain {
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
}

.bodyFiltro {
	margin-left: 4px;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}

.bodyGridResult{
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	scrollbar-face-color: #FFFFFF; 
	scrollbar-shadow-color: #CCCCCC; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #CCCCCC; 
	scrollbar-darkshadow-color: #FFFFFF; 
	scrollbar-track-color: #F6F6F6; 
	scrollbar-arrow-color: #CCCCCC;
}

.bodyDialogo {
	margin-left: 6px;
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	background-color: #E5E5E5;
	color:#000000;
}

.bodyBar {
	scrollbar-face-color: #EFEFEF; 
	scrollbar-shadow-color: #666666; 
	scrollbar-highlight-color: #EFEFEF; 
	scrollbar-3dlight-color: #666666; 
	scrollbar-darkshadow-color: #EFEFEF; 
	scrollbar-track-color: #EFEFEF; 
	scrollbar-arrow-color: #666666;
}

iframeBorder{
border: 1px solid #006699;
}

.iframeNoBorder{
border:0px solid #FFFFFF;
}

.linkTabela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

.edit100Disabled {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform:uppercase;
	border: 1px solid #666666;
	background-color:#F3F3F3;
	width:100%;	
}
.edit100DisabledNoUpperCase {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #666666;
	background-color:#F3F3F3;
	width:100%;	
}
.classNamedisabled {
	color:#999999;
	border: 1px solid #666666;
	background-color:#F3F3F3;
}

.botaoSalvar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 20px;
	background-color:#F6F6F6;
	background-image: url(./imagens/btSalvar16.gif);
}

.noScroll {
	position: relative;
	top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	left: expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);	
	z-index: 101;		
}

.noScrollTop {
	position: relative;
	top: expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	z-index: 100;
}
.noScrollLeft {
	position: relative;
	left: expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	z-index: 100;
}

.box{
	border:1px solid #CCCCCC;
}

.botaoBarra{
	filter:alpha(opacity=60);
	-moz-opacity:0.3;
}

.botaoBarra80{
	filter:alpha(opacity=80);
	-moz-opacity:0.3;
}

.textoMsgbox {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	/*text-align:justify;*/
	padding:10px;
	background-color:#E5E5E5;
}
