@charset "utf-8";
/* CSS Document */

td img{
	display: block; 
	margin:0px;
	padding:0px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#colunaCliente {
	float:left;
	width:370px; 
}
#suportePanel {
	background-image:url(imagens/index_r6_c5.png); 
	width:318px; 
	height:169px;
	display: inline-block;
}

.btnSuporte {
	display:block;
	margin:115px 0 0 250px;;
	width:47px;
	height:27px;
	float:left;
}

#loginPanel {
	background-image:url(imagens/index_r6_c8.png); 
	width:341px; 
	height:169px;
	display: inline-block;
}

#menuPanel {
	background-image:url(imagens/menu_panel_bg.png); 
	width:341px; 
	height:169px;
	display: inline-block;
	position:relative;
}

.login {
	width:270px;
	height:25px;
	margin:52px 0 0 32px;
	background-color:#0D5575;
	border:0 solid;
	font-weight:bold;
	font-size:18px;
}

.senha {
	width:240px;
	height:25px;
	margin:37px 0 0 32px;
	background-color:#0D5575;
	border:0 solid;
	float:left;
	font-size:18px;
}

.btnLogin {
	display:block;
	margin:39px 0 0 0;
	width:40px;
	height:25px;
	float:left;
}
#logoClientePanel {
	background-image:url(imagens/index_r1_c1.png); 
	width:370px; 
	height:203px;
	text-align:center;
	display: inline-block;
}

#contatoClientePanel {
	background-image:url(imagens/index_r8_c1.png); 
	width:370px; 
	height:148px;
	display: inline-block;
	margin-top:7px;
}

#contatoTivicPanel {
	background-image:url(imagens/index_r8_c5.png); 
	width:435px; 
	height:148px;
	display: inline-block;
}

#contatoClientePanel h1, #contatoTivicPanel h1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin-left:30px;
	margin-top:40px;
	margin-bottom:0px;
	color:#036;
}

#contatoClientePanel p, #contatoTivicPanel p {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:10px 0px 0px 35px;
	color:#FFF;
}

#contatoClientePanel a, #contatoTivicPanel a {
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	margin-left:35px;
	margin-top:10px;
	margin-bottom:0px;
	color:#003366;
	background-image:url(imagens/contato_ico.png);
	background-repeat:no-repeat;
	text-indent:20px;
}


#destaques {
	width: 316px;
	height: 299px;
	background-image:url(imagens/index_r5_c2.png);
	width:340px; 
	padding-left:30px;
	display: inline-block;
	margin-top:7px;
}
#destaques h1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin-left:25px;
	margin-top:30px;
	margin-bottom:0px;
	color:#036;
}
#destaques .destaque{
	width: 242px;
	height: 40px;
	margin-top:5px;
	margin-left:25px;
}

#destaques .destaque h2{
	display:block;
	width:70px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin:0;
	text-align:center;
	line-height:40px;
	color:#fff;
	background-color:#147CAA;
	border:solid 0px #000000;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#destaques .destaque a {
	display:block;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666;
	margin-top:5px;
	margin-left:5px;
	width:165px;
}

.btnJuridico {
	display:block;
	float:left;
	position:absolute;
	top:20px; 
	left:30px; 
	width:123px; 
	height:123px; 
	background-image:url(imagens/btns_menu.png); 
	background-repeat:no-repeat; 
	background-position:0 0;
}

.btnJuridico:hover {
	background-position:-123px 0;
}

.btnFinanceiro {
	display:block;
	float:left;
	position:absolute;
	top:20px; 
	left:170px; 
	width:123px; 
	height:123px; 
	background-image:url(imagens/btns_menu.png); 
	background-repeat:no-repeat; 
	background-position:-247px 0;
}

.btnFinanceiro:hover {
	background-position:-370px 0;
}